
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}
header{
    background-color: white;
    
   
}
.Button{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;

}
nav{
     justify-content: space-between;
    display: flex;
    padding: 16px 120px;
    align-items: center;
}
nav div ul{
    display: flex;
    font-size: 16px;
}
 .Button{
        background-color: #469165;
        padding: 12px 16px;
        gap: 10px;
        border: none;
        border-radius: 4px;
        text-align: center;
        color: white;
        font-size: medium;
    }
    .list{
        list-style-type: none;
        font-size: medium;
        display: flex;
        font-weight: 500;
        gap: 32px;
        box-sizing: border-box;
        border: 0px;
        padding:16px 120px;
    }
    .banner{
        height: 100vh;
        width: 100%;
        position: relative;
        background-image: url(../assets/hero-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
        text-align: center;
        color: #fff; 
        }
    .banner-content{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 80px;
        
    }
    .early-access{ 
        display: inline-block;
        padding: 8px 12px;
        border-radius: 1000px;
        background-color: #fff;
        font-size: 0.75rem; 
        font-weight: 600;
        color: #469165;
        align-self: center;
        text-align: center;
        width: 200px;
        margin-top: 120px;
         }
    .green-text{
            color: #30B868;
         }
    .banner-para{
            text-align: center;
            max-width: 800px;
            word-spacing: normal;
            margin: 0 auto;
            line-height: 3;
            margin-bottom: 30px;
            font-size: 1.2rem;
         }
    .banner-text{
        font-weight: 700;
        font-size: 3em;
        margin-top: 40px;
        
    }
    .arrow-button{
        background-color: #469165;
        padding: 12px 16px;
        gap: 20px;
        border: none;
        border-radius: 4px;
        text-align: center;
        color: white;
        font-size: medium;
    }
    .See-btn{
        background: none;
        padding: 12px 16px;
        gap: 20px;
        border-color: #fff;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        font-size: medium;
    }
    .banner-btn{
        gap: 15px;
        display: flex;
        padding-bottom: 100px;
        
    }
    .notes-header{
        font-size: 2rem;
        margin: 20px;
        padding: 20px;
    }
    .notes-subtitle{
        color: #627382;
        font-size: x-small;
    }
    .Notes-section{
        
        text-align: center;
        padding: 10px 20px 30px;
    }
    .notes-grid{
        display: flex;
        gap: 40px;
        justify-content: space-around;
        align-items: stretch;
    }
    .note-box{
        border: gray; 
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        border-radius: 10px;
        padding: 10px 10px;
        flex: 1;
    }
    .note-icon { 
        background-color: #F95555;
        width: 30px; 
        height: 30px; 
        border-radius: 100%;
        padding: 5px;
    }
    .note-box h3 { 
        font-size: 1.2rem; 
        font-weight: 600; 
        margin-bottom: 10px; 
    }
    .note-box p { 
        font-size: 1rem; 
        color: #666; 
        line-height: 1.5; 
    }