
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}
header{
    background-color: white;
    
   
}
.Button{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;

}
nav{
     justify-content: space-between;
    display: flex;
    padding: 16px 120px;
    align-items: center;
}
nav div ul{
    display: flex;
    font-size: 16px;
}
 .Button{
        background-color: #469165;
        padding: 12px 16px;
        gap: 10px;
        border: none;
        border-radius: 4px;
        text-align: center;
        color: white;
        font-size: medium;
    }
    .list{
        list-style-type: none;
        font-size: medium;
        display: flex;
        font-weight: 500;
        gap: 32px;
        box-sizing: border-box;
        border: 0px;
        padding:16px 120px;
    }
    .banner{
        position: relative;
        background-image: url("../assets/hero-bg.png");
        background-size: 100%;
        align-items: center; 
        justify-content: space-around; 
        background-repeat: no-repeat;
        text-align: center;
        color: #fff; 
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        /*padding: 154.5px 345px 829.5px;*/
        
    }
    .banner-content{
        position: relative;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        padding: 115.5px 120px 179.5px;
    }
    .banner-content .early-access{ 
        padding: 8px 12px;
        min-height: fit-content;
        align-self: center;
        border-radius: 1000px;
        background-color: #fff;
        font-size: x-small; 
        font-weight: 500;
        color: #469165;
        height: 19px;
        width: 183px;
        text-align: center;
         }
    .green-text{
            color: #30B868;
         }
    .banner-para{
            text-align: center;
            max-width: 700px;
         }
    .banner-text{
        font-weight: 700;
        display: flex;
        flex-direction: column;
        padding: 16px 270.5px;
        
    }
    .arrow-button{
        background-color: #469165;
        padding: 12px 16px;
        gap: 10px;
        border: none;
        border-radius: 4px;
        text-align: center;
        color: white;
        font-size: medium;
    }
    .See-btn{
        background: none;
        padding: 12px 16px;
        gap: 10px;
        border-color: #fff;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        font-size: medium;
    }
    .banner-btn{
        gap: 15px;
        display: flex;
    }